body {
    background-image: url(/crawler4jsoup/img/article_bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: 0 10px;
}



/* Catgory area */
#cat-area {
    position: fixed;
    left: 0;
    top: 85px;
    width: 10%;
    height: 300px;
    margin: 25px auto;
    margin-top: 25px;
}

.cat {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 calc((100% - 100px)/2);
    margin-bottom: 15px;
    padding: 0;
    background-color:white; 
    border-radius: 15px;
    border: 2px solid grey;
    box-shadow: 0 0 5px black;
    overflow: hidden;
}

.cat:nth-child(2) {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 calc((100% - 80px)/2);
    margin-bottom: 15px;
    padding: 0;
    background-color:white; 
    border-radius: 15px;
    border: 2px solid grey;
    box-shadow: 0 0 5px black;
    overflow: hidden;
}


.cat div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    line-height: 160px;
    text-align: center;
    font-weight: bold;
    color: white;
    z-index: 1;
}



.cat img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

}


/* Content area */
article {
    padding: 25px;
    margin-top: 85px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    box-sizing: border-box;
    columns: 5;
    column-gap: 25px;
}

article section {
    break-inside: avoid;
}


.content-area {
    position: relative;
    width: 100%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 25px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    overflow: hidden;
}

.content-area .content-id {
    display: none;
}

.content-img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.content-img img {
    transition: 0.5s;
    width: 100%;
}


.content-area .content p {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content-area .content-info {
    position: relative;
    width: 100%;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    color: grey;
}


.content-area .content-info .view {
    display: inline-block;
    margin-left: 10px;
}

.content-area .content-info .view i {
    display: inline-block;
    width: 20px;
}

.content-area .content-info #content-opt {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

/* article-content area */
  .article-content-area {
    top: 65px;
    left: 150px;
    right: 150px;
    bottom: 5px;
  }

  
  
  .article-content-area #post-block {
      position: absolute;
      top: 30px;
      left: 50px;
      right: 50px;
      bottom: 30px;
      overflow: auto;
  }

  .article-content-area #post-block::-webkit-scrollbar {
    display: none;
  }

  #posts-area {
      width: 100%;
      
  }

  #posts-area .single-post {
      width: 100%;
      margin: 20px auto;
      text-align: left;
  }

  

  #posts-area .single-post .post-header {
      margin-bottom: 50px;
      padding-left: 20px;
      
  }

  #posts-area .single-post .post-body img{
      margin: 20px auto;
  }

  hr {
    border-color: rgb(172, 172, 172);
  }
/* publish area */
#publish-btn {
    position: fixed;
    top: 110px;
    right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.3s;
}

#publish-btn:hover {
    background-color: rgba(0, 255, 0, 0.9);
    transition: 0.5s;
}
#publish-btn img {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.publish-area {
    width: 80vw;
    height: 85vh;
    margin-top: -40vh;
    margin-left: -40vw;
}

.publish-area h2 {
    text-align: center;
}

.publish-area input {
    width: 90%;
}



.ck-content{
    height: calc(85vh - 320px);
    text-align: left;
}


/* RWD resizing area */
@media screen and (max-width: 1850px) {
    article {
        columns: 4;
    }


    #publish-area {
        margin-top: -275px;
    }

    #publish:target + div#publish-area{
        height: 550px;
    }
  }
  
@media screen and (max-width: 1470px) {
    article {
        columns: 3;
    }


    #publish-area {
        margin-top: -250px;
    }

    #publish:target + div#publish-area{
        height: 500px;
    }

    
}

@media screen and (max-width: 1170px) {
    article {
        columns: 2;
    }

    
}

@media screen and (max-width: 870px) {
    article {
        columns: 1;
    }
}