
  /* search bar area */

  #search-bar-area {
      position: fixed;
      top: 15px;
      right: 220px;
      height: 40px;
      background-color: white;
      border-radius: 20px;
      z-index: 5;
      overflow: hidden;
      transition: 0.5s;
  }

  #search-bar-area i {
      float: left;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      transition: 0.5s;
  }
  #search-bar-area #setting {
    background-color: lightgrey;
  }

  #search-bar-area i:hover,
  #search-bar-area #setting:hover {
      background-color: coral;
      transition: 0.5s;
  }

  #search-bar-area input {
      float: left;
      border: none;
      background: none;
      outline: none;
      padding: 0;
      color: white;
      line-height: 40px;
      width: 0;
      transition: 0.5s;
  }

  #search-bar-area i:hover ~ input,
  #search-bar-area input:hover,
  #search-bar-area input:focus {
      width: 200px;
      padding-left: 10px;
      color: black;
      transition: 0.5s;
  }



  